# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CProjects\01-lab-00-introduce-labs-Arclay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
